*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    107.42295983054794deg,
    rgba(248, 188, 79, 1) 5.911420204978038%,
    rgba(211, 21, 87, 1) 95.95534407027817%
  );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* form {
  background: rgba(14, 16, 27, 0.3);
  max-width: 31rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  border: 3px solid white;
  border-radius: 7px;
  padding: 1rem 2rem;
} */

/* label {
  margin: 0 1rem 2rem 0;
  display: inline-block;
  font-size: 1.4rem;
} */

/* .stepComplete {
  display: flex;
}

.next {
  margin-left: auto;
}

.previous {
  margin-right: auto;
} */

/* button[type='submit'] {
  background: #f79605;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  letter-spacing: 5px;
  border-radius: 7px;
  cursor: pointer;
}

button[type='submit']:hover {
  background: #bf1650;
}

button[type='submit']:active,
button[type='submit']:focus {
  transition: 0.3s all;
  transform: translateY(2px);
  opacity: 0.8;
  outline: none;
} */

/* input[type='radio'] {
  display: none;
} */

.label1 {
  background-image: url('https://picsum.photos/50/50?random=1');
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.label2 {
  background-image: url('https://picsum.photos/50/50?random=2');
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.label3 {
  background-image: url('https://picsum.photos/50/50?random=3');
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0 0 0 0px;
}

.label4 {
  background-image: url('https://picsum.photos/50/50?random=4');
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0 0 0 0px;
}
/* input[type='radio']:checked + .label1 {
  border: 3px solid orange;
} */

/* input:checked

#root > form > div:nth-child(2) > label.label1 */
